connexion >= 2.6.0
connexion[swagger-ui] >= 2.6.0
python_dateutil >= 2.7.0
setuptools >= 21.0.0
swagger-ui-bundle >= 0.0.2

Flask~=2.2.5
six~=1.16.0
torch~=2.0.1
opencv-python~=4.7.0.72
PyYAML~=6.0
torchvision~=0.15.2
numpy~=1.24.3
matplotlib~=3.7.1
pandas~=2.0.2
seaborn~=0.12.2
requests~=2.31.0
tqdm~=4.65.0
psutil~=5.9.5
thop~=0.1.1.post2209072238